# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual environment
venv/
.env/
.venv/

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Model files (important for you)
*.pkl
*.joblib
# *.cbm
*.h5
*.pt

# Large datasets

datasets/
# *.csv
*.parquet

# Cache
.cache/

# Data/df_test.csv
UPDATE_LOG.md

Archive/
archive.zip